
#background{
    -fx-background-image: url("file:EmployeeView.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 650 350;
    -fx-background-position: 400 0;

}

#background{
    -fx-background-color: #000000;

}
#label{
    -fx-font-weight: BOLD;
    -fx-background-color: #000000;
    -fx-text-fill: #F8F8F8;
}